<!DOCTYPE html>
<html>
<head>
<title>Login form</title>
<link rel="stylesheet" type="text/css" href="homestyle.css">
</head>
<body>
<div class="loginbox">
<img src="https://upload.wikimedia.org/wikipedia/commons/7/75/IIIT-BH_Official_Logo.png" class="avataar">
<h1>Login</h1>
<form action ="/placements" method="POST" >
<p>Username</p>
<input type="text" name="username" placeholder="Enter Username">
<p>Password</p>
<input type="Password" name="password" placeholder="Enter Password"> <br>
<input type="submit" name="" value="Login"><br>
<a href="#">forgot password</a>  <br>
<a href="/signup">Sign Up</a>
</form>


</body>
</html>