<!DOCTYPE html>
<html>
<head>
<title>signup form</title>
<link rel="stylesheet" type="text/css" href="homestyle.css">
</head>
<body>
<div class="loginbox">
<img src="https://upload.wikimedia.org/wikipedia/commons/7/75/IIIT-BH_Official_Logo.png" class="avataar">
<h1>signup</h1>
<form action ="/signup" method="POST" >
<p>Username</p>
<input type="text" name="username" placeholder="Enter Username">
<p>Password</p>
<input type="Password" name="password" placeholder="Enter Password"> <br>
<label for="isStudent">select</label>
<select name="isStudent" id="isStudent">
    <option value="true">student</option>
    <option value="false">company</option>

</select>
<input type="submit" id="signup" name="" value="signup"><br>
</form>


</body>
</html>